<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\temp\Logs\internal-nlog4txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>

    <target xsi:type="Database"
        name="database"
        dbProvider="System.Data.SqlClient"
        connectionString="YourConnectionString"
        commandText="INSERT INTO LogEntries(Id, Application, LoggedTime, Level, Message, Logger, Callsite, Exception) 
                     VALUES (@Id, @Application, @LoggedTime, @Level, @Message, @Logger, @Callsite, @Exception)">
      <parameter name="@Id" layout="${guid}" />
      <parameter name="@Application" layout="${appdomain:cached=true:format=String}" />
      <parameter name="@LoggedTime" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite:filename=true}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>